# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*

# archives
*.zip
*.tar
*.tgz
*.gz
*.rar

# unused source design assets
**/*.pdf
**/*.psd
**/*.ai
assets/images/FAMO-logo-updated (1)/
Screenshot 2026-05-31 145940.png
